* {margin: 0px;padding: 0px;}
 /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

 Hide scrollbar for IE and Edge 
.example {
  -ms-overflow-style: none;
} 



body {
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

 .dropWrapper{
    width: 300px;
   align-content: flex-start;
   display: flex;
    flex-wrap: wrap;
    margin: 50px;
 }

.mainWrapper{
  max-width: 1200px;
  display: flex;
}
.drag:hover{cursor:pointer;}
.drag{width:max-content; /*background: #ddd; */}
.drag li{
  background-image: url('../img/blue.png');
}
.drop {  background-image: url('../img/black.png');}
li.disabled{  background-image: url('../img/blue.png');}
.drag div{ display: flex; justify-content: center;}
li{list-style: none; height: 50px; width: 50px;outline:1px solid #999; background-size: 100% 100%;}
.drag .lShapeLast{
  justify-content: flex-start;
}.drag .lShapeFirst{
  justify-content: flex-start;
}



#squareShape{
 display: flex;
 justify-content: center;
}
.dragContainer{ 
width: 350px;
margin-bottom: 30px ;
margin: auto;
    margin-bottom: auto;
margin-bottom: 30px;
}
/* .dropWrapper:hover{
  box-shadow: 0px 0px 5px #000;
 }*/

 .filled{
  background-image: url('../img/blue.png');
 }

 .handleMotion{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-bottom:50px;
 }

  .handleMotion select{
   width: 122px;
z-index: 99;
border-radius: 4px;
border: none;
background: #3077d2;
margin: 5px;
color: #fff;
font-weight: bold;
padding: 3px;
border: 1px solid #004cff;
  }

#tShape, #rectangleShape, #lShape, #lineShape{
  height: 250px;
}
.dropWrapperContainer{
  text-align: center;
}

#reset{
    color: #fff;
    background: #0b7dd7;
    border: none;
    font-weight: bold;
    padding: 11px 15px;
    border: 1px solid #656262;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor:pointer;
     font-family: 'Open Sans', sans-serif;

}

.header{
    background: url(../img/callout.png);
    background-position: center;
    background-size: contain;
    color: #fff;
    width: 500px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    
    font-size: 28px;
    background-repeat: no-repeat;
}
.desc {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}


.wellDone{position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #e3e2e2b0;
z-index: 999;
display: flex;
justify-content: center;
align-items: center;
display: none;

}
.wellDone .imgContainer{
  display: flex;
 align-items: center;
  flex-direction: column;
}
.wellDone .imgContainer img{width: 400px;}
.wellDone .imgContainer  button{ 
    color: #fff;
    background: #057db7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 15px;
    border-radius: 29px;
    cursor: pointer;
     font-family: 'Open Sans', sans-serif;
}


@media only screen and (max-width: 1500px) {
  body{
    padding:10px;
  }
  .header{
    margin-bottom:15px;
  }
  #reset{
    padding: 6px 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
li{width:40px; height:40px;}
.dropWrapper {width:240px;
    margin: 15px 30px;}
.dragContainer{
  width:240px; margin-bottom:0px;
}

}

@media only screen and (max-width: 1200px) {
  .desc {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

}

@media only screen and (max-width: 960px) {

.handleMotion select{width:90px;}
#tShape, #rectangleShape, #lShape, #lineShape{
  height: 200px;
}
.handleMotion{
  margin-bottom:10px;
}
.header{
  padding:10px;
  font-size: 20px;
}
}

@media only screen and (max-width: 768px) {

li{width:25px; height:25px;}
.dropWrapper {width:150px;}
.dragContainer{
  width:150px;
}
.handleMotion select{    width: 70px;
    font-size: 10px;}
#tShape, #rectangleShape, #lShape, #lineShape{
  height: 150px;
}
.handleMotion{
  margin-bottom:5px;
}
.header{
  padding:10px;
  font-size: 20px;
}
#reset{
  margin-bottom:10px;
}
}